@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border border-gray-200 text-black shadow-md rounded-sm p-2 w-full;
}
.dark input,
.dark textarea,
.dark select {
  @apply border-gray-300 text-textDarkMode2;
}

.CategoryLabel div {
  @apply my-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}
/* .dark input:focus,
.dark textarea:focus,
.dark select:focus {
  @apply border-blue-900;
} */

h1 {
  @apply text-gray-800 mb-4 text-xl;
}
.dark h1 {
  @apply text-textDarkMode3;
}

.pName {
  @apply text-gray-600 text-sm;
}
.dark .pName {
  @apply text-textDarkMode3;
}

label {
  @apply text-gray-800 text-[17px];
}
.dark label {
  @apply text-textDarkMode4;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-sm;
}
.dark .btn-primary {
  @apply bg-bgDarkMode1 text-textDarkMode2;
}

table.basic {
  @apply w-full bg-white rounded-md shadow-md;
}

table.basic thead tr td {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}
.dark table.basic thead tr td {
  @apply bg-bgDarkMode2;
}

table.basic tr td {
  @apply px-4 py-1 border;
}

table.basic a {
  @apply text-white px-4 py-1 rounded-sm flex gap-1 mx-1 items-center bg-gray-700 text-sm;
}
.dark table.basic a {
  @apply bg-bgDarkMode1 text-textDarkMode2;
}

.btn-red,
.btn-default {
  @apply px-4 py-1 rounded-md;
}

.btn-red {
  @apply bg-red-800 text-white;
}
.dark .btn-red {
  @apply bg-bgDarkMode3 text-textDarkMode2;
}

.btn-default {
  @apply bg-gray-600 text-white;
}
.dark .btn-default {
  @apply bg-bgDarkMode7 text-textDarkMode2;
}

.image-infos {
  @apply flex flex-wrap gap-2;
}

.image-infos label {
  @apply text-black cursor-pointer;
}
.dark .image-infos label {
  @apply text-textDarkMode1;
}
.image-file {
  @apply flex justify-center items-center text-black bg-white w-24 h-24 rounded-md text-base shadow-sm border border-gray-200;
}


.button-success {
  @apply bg-green-500 hover:bg-green-600 focus:bg-green-600 active:bg-green-700 text-white font-bold py-2 px-4 rounded mx-2;
}
.dark .button-success {
  @apply bg-bgDarkMode10 hover:bg-bgDarkMode11 focus:bg-bgDarkMode11 active:bg-bgDarkMode12 text-textDarkMode2;
}

.button-danger {
  @apply bg-red-500 hover:bg-red-600 focus:bg-red-600 active:bg-red-700 text-white font-bold py-2 px-4 rounded mx-2;
}
.dark .button-danger {
  @apply bg-bgDarkMode4 hover:bg-bgDarkMode5 focus:bg-bgDarkMode5 active:bg-bgDarkMode6 text-textDarkMode2;
}

@media screen and (max-width: 432px) {
  table.basic a {
    @apply mb-1 mx-0 w-[96px] justify-center;
  }
}

.theme-switcher-label {
  position: relative;
}
.theme-switcher-label input {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 71px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.theme-switcher-label svg {
  width: 71px;
  height: auto;
  display: block;
}
.theme-switcher-label input + svg .light {
  transition: opacity 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}
.theme-switcher-label input + svg .translate,
.theme-switcher-label input + svg .rotate,
.theme-switcher-label input + svg .background,
.theme-switcher-label input + svg .astronaut,
.theme-switcher-label input + svg .surfer {
  transition: transform 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}
.theme-switcher-label input:checked + svg .light {
  opacity: 0;
}
.theme-switcher-label input:checked + svg .translate {
  transform: translateX(0px);
}
.theme-switcher-label input:checked + svg .rotate {
  transform: rotate(0deg);
}

.theme-switcher-label input:checked + svg .background {
  transform: translate(0px) scale(1);
}
